@import './scss/skeleton';
@import './material-components-web.min.css';
@import './scss/banner';
@import './scss/banner-animations';

:root {
  --mdc-theme-primary: #3a4250;
  --mdc-theme-secondary: rgba(213, 161, 52);
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  margin: 0;
  padding: 0.2em 0.4em;
}

img {
  width: 100%;
  min-width: 327px;
  min-height: 245.25px;
}

.text-center {
  text-align: center;
}

.counter {
  font-size: 4.5rem;
  font-size: 20vw;
  font-weight: 900;
  color: var(--mdc-theme-secondary);

  .hours::after,
  .minutes::after,
  .seconds::after {
    font-size: 1.2rem;
    font-size: 5vw;
    position: absolute;
    transform: translateY(1.25rem);
  }

  .hours::after {
    content: 'H';
  }

  .minutes::after {
    content: 'M';
  }

  .seconds::after {
    content: 'S';
  }

  &.done {
    color: #eee;
  }
}

.mdc-layout-grid {
  max-width: 375px;
}

.mdc-text-field {
  width: 100%;
  margin: 1rem 0;

  &--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-secondary) !important;
  }
}

.mdc-button--raised {
  width: 100%;
  margin: 0.5rem 0;
  height: auto !important;
  padding: 1.25rem 0 !important;
}

hr {
  margin-block-start: unset;
  margin-block-end: unset;
  border-width: unset;
  border: unset;
  border-bottom: 1px solid #e0e0e0;
}
